.tips {
    background-image: url(../assets/img/flower.png);
    
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 90%;

}
.box {
    
    
    margin: auto;
    font-family: 'Lora', serif;
}
.content1 {
    background-color:#fef8f8;
}
.content h1 {
    font-family: 'Pacifico', cursive;
    color: #5d730e;
}

